@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono');
.navbar-background{
	background-color: #fd7850;
}
.navbar-background img{
	width: 20%;
}
.add-contact,
.contact-list{
	padding-top: 20px;
}
.contact-list .table tr th,
.contact-list .table tr td{
	text-align: center;
}
.navbar-background nav li{
	padding: 0px 6px;
}
.table td{
	font-size: 18px
}
.edit-options{
	padding: 4px 0px 0px 4px;
	font-size: 14px;
}
.edit-options{
	visibility: hidden;
}
.contact-list tbody tr:hover{
    background-color: #f3edfd;	
}
.contact-list tbody tr:hover td div.edit-options {
    visibility: visible;
}
#add-contact-form{
	background-color: #2590c5;
	padding: 20px;
	border-radius: 6px;
	position: relative;
	display: none;
	padding: 20px 30px;
	margin: 40px;
}
#add-contact-form label{
	color: #ffffff;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	letter-spacing: -0.5px;
	margin-bottom: 4px;
}
#add-contact-form .close-button{
	position: absolute;
	top: 20px;
	right: 36px;
	color: #ffffff;
	font-size: 30px;
}
.white-bg-btn{
	background-color: #ffffff;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
	padding: 11px 30px 11px 35px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
	color: #2f2f2f;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 8px;
}
thead th{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
}
tbody tr{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	cursor: pointer;
}
.header-links li a{
	font-family: 'Roboto', sans-serif;
	color: #ffffff!important;
}
#button-add{
	box-shadow: none;
}
.add-contact button{
	background-color: #2590c5;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}
.add-contact-text h5{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 10px;
}
#edit-contact-form{
	background-color: #e0f4fe;
	padding:20px;
	display: none;
}
.edit-contact-text h5{
	border-bottom: 1px solid #000000;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	padding-bottom: 10px;
}
#add-account-form{
	display: none;
	background-color: #2590c5;
    border-radius: 6px;
    position: relative;
    padding: 20px 30px;
    margin: 40px;
}